/* Startpage  Css
   By Dylan Araps */
html,
body,
ul {
  margin: 0;
  padding: 0;
}

/* backdrop */
body {
  /*background: #D7CEC7;*/
  background: #801F15;
  height: 100%;
  width: 100%;
}

main {
  display: block;
  font-family: 'Roboto';
  /* left: 50%; */
  position: absolute;
  top: 30%;
  /* transform: translate(-50%, -50%); */
  width: 100%;
}

/* date */
h1 {
  color: #550800;
  display: block;
  margin: 0 auto;
  text-align: left;
  width: 750px;
}


/* lines */
hr {
  border: 0;
  border-top: 1px solid #FFB2AA;
  opacity: .4;
  width: 750px;
}

ul {
  display: block;
  margin: 0 auto;
  width: 750px;
}

/* categories */
li {
  color: #D4746A;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.5;
  list-style: none;
  margin: 5px;
}

/* links */
a {
  color: #FFB2AA;
  text-decoration: none;
  transition: .2s;
}

a:hover {
  color: #AA4339;
}
